*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}

.navbar{
    background-color: black;
    padding: 15px;
    position: sticky;
    top: 0;
  }

.container{

    width:800px;
    margin:auto;
}
.navbar .container{
   display: flex;
   align-content: flex-end;
   justify-content: space-between;
    }
.navbar .logo img{
    width:50%;
}
.navbar ul{
    display: flex;
}
.navbar ul li{  
    padding: 10px; 
}
a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    
}

.portfolio{

    text-align: center;
}
.portfolio .container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}


.row{
    display: flex;
    gap: 20px;
}
.portfolio-item{

   background-color: green;
}

.portfolio img{

    width: 100%;
    display: block;
   
   
}